@charset="utf-8";
.wrapper {
    text-align: center;
}
.cnv-wrapper {
    display: inline-block;
    border: #DDDDDD solid 3px;
    max-width: 330px;
}
.prop-wrapper {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.prop {
    margin: 0px 0px 10px 15px;
    text-align: left;
}